{% extends 'base.html.twig' %}

{% block title %}Editar Contato{% endblock %}

{% block body %}
 <h4>Editar Contato</h4>
 <hr>
 {{ form_start(form) }}
 {{ form_widget(form) }}
 {{ form_end(form) }}
 <hr>
 {{ include('addresses/index.html.twig') }}
 <hr>
{% endblock %}
